/* GLOBAL STUFF */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--error-color: #f12c2c;
	--success-color: #22e222;
	--button-color: royalblue;
	--bg-color: #121414;
	--font-color: #ddd;
	--font-color-light: white;
	--outline-color: #bbb;
	--input-bg-color: #444;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
	padding-bottom: 2rem;
}

/* ELEMENTS */

a {
	color: inherit;
	text-underline-offset: 2px;
}

p {
	margin-block: 1rem;
}

h1 {
	margin-block: 1rem;
}

h1,
h2 {
	font-weight: 500;
}

h2 {
	margin-block: 0.5rem;
}

/* MESSAGES */

.error {
	color: var(--error-color);
	font-weight: 600;
}

.message {
	color: var(--success-color);
	font-weight: 600;
}

/* INTERACTIVE ELEMENTS */

button,
input,
textarea,
select {
	color: inherit;
	font: inherit;
	border: none;
	background: none;
}

button:not(:disabled) {
	cursor: pointer;
}

:is(button, input, textarea, select, a):focus-visible {
	outline: 1px solid var(--outline-color);
}

textarea {
	resize: vertical;
}

/* FORMS */

.form-group {
	margin-bottom: 1rem;

	label:not([for='file']) {
		display: block;
		margin-bottom: 0.1rem;
		font-size: 0.875rem;
	}

	input,
	textarea,
	select {
		width: 100%;
		background-color: var(--input-bg-color);
		padding: 0.2rem 0.5rem;
		border-radius: 0.2rem;
	}
}

.form-actions {
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;

	button {
		background-color: var(--button-color);
		color: var(--font-color-light);
		padding: 0.2rem 0.75rem;
		border-radius: 0.2rem;
	}

	button.danger {
		background-color: var(--error-color);
	}
}

/* FILE UPLOAD */

input[type='file']:focus-visible + label {
	outline: 1px solid var(--outline-color);
}

input[type='file']:valid + label::after {
	content: ' ✓';
}

input[type='file'] + label {
	display: inline-block;
	cursor: pointer;
	background-color: var(--button-color);
	color: var(--font-color-light);
	padding: 0.2rem 0.75rem;
	border-radius: 0.2rem;
}

/* UTILS */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
