/* GLOBAL STUFF */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--error-color: #f12c2c;
	--success-color: #22e222;
	--button-color: royalblue;
	--bg-color: #121414;
	--font-color: #ddd;
	--font-color-light: white;
	--outline-color: #bbb;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
	padding-bottom: 2rem;
}

/* ELEMENTS */

a {
	color: inherit;
}

p {
	padding-block: 1rem;
}

h1 {
	padding-block: 1rem;
}

h1,
h2 {
	font-weight: 500;
}

h2 {
	padding-block: 0.5rem;
}

/* MESSAGES */

.error {
	color: var(--error-color);
	font-weight: 600;
}

.message {
	color: var(--success-color);
	font-weight: 600;
}

/* INTERACTIVE ELEMENTS */

button,
input,
textarea {
	color: inherit;
	font: inherit;
	border: none;
	background: none;
}

button:not(:disabled) {
	cursor: pointer;
}

:is(button, input, textarea):focus-visible {
	outline: 1px solid var(--outline-color);
}

/* FORMS */

.form-group {
	margin-bottom: 1rem;

	label {
		display: block;
		margin-bottom: 0.1rem;
		font-size: 0.875rem;
	}

	input {
		width: 100%;
		background-color: #444;
		padding: 0.2rem 0.5rem;
		border-radius: 0.2rem;
	}
}

.form-actions {
	button {
		background-color: var(--button-color);
		color: var(--font-color-light);
		padding: 0.2rem 0.75rem;
		border-radius: 0.2rem;
	}

	button.danger {
		background-color: var(--error-color);
	}
}
