/* GLOBAL STUFF */

@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Nunito:wght@200..1000&family=Outfit:wght@100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #121414;
	--nav-bg-color: #0c0d0d;
	--font-color: #ddd;
	--secondary-font-color: #aaa;
	--font-color-light: white;
	--error-color: red;
	--danger-color: rgb(208, 33, 68);
	--error-bg-color: #f001;
	--message-color: #0f0;
	--message-bg-color: #0f01;
	--outline-color: #bbb;
	--dark-outline-color: #444;
	--input-bg-color: #202020;
	--input-focus-color: #252525;
	--button-color: rgb(114, 40, 128);
	--heading-color: rgb(220, 236, 93);
	--loading-bar-color: yellow;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: 'Nunito', sans-serif;
	line-height: 1.5;
	padding-bottom: 2rem;
}

/* ELEMENTS */

a {
	color: inherit;
	text-underline-offset: 2px;
}

p {
	margin-block: 1rem;
}

header:has(h1) {
	margin-block: 1.5rem 1rem;
}

h1,
h2 {
	font-weight: 400;
	font-family: 'Outfit', sans-serif;
}

h1 {
	color: var(--heading-color);
}

h2 {
	margin-block: 0.5rem;
}

/* INTERACTIVE ELEMENTS */

button,
input,
textarea,
select {
	color: inherit;
	font: inherit;
	border: none;
	background: none;
}

button {
	transition: opacity 120ms;
}

button:not(:disabled) {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

:is(button, input, textarea, select, a):focus-visible {
	outline: 1px solid var(--outline-color) !important;
}

textarea {
	resize: vertical;
}

/* FORMS */

.form-group {
	margin-bottom: 1rem;

	label {
		display: block;
		margin-bottom: 0.1rem;
		font-size: 0.875rem;
		color: var(--secondary-font-color);
	}

	label:has(+ :focus-visible) {
		color: var(--font-color);
	}

	input,
	textarea,
	select {
		width: 100%;
		background-color: var(--input-bg-color);
		padding: 0.2rem 0.5rem;
		border-radius: 0.25rem;
		outline: 1px solid var(--dark-outline-color);

		&:focus-visible {
			background-color: var(--input-focus-color);
		}
	}
}

fieldset {
	border: none;
}

/* WRITTEN TEXT IN DIARY */

.text {
	font-size: 1.125rem;
	font-family: 'Klee One', cursive;
}

/* BUTTONS */

.button {
	background-color: var(--button-color);
	color: var(--font-color-light);
	padding: 0.25rem 1.25rem;
	border-radius: 100vw;
}

.button.danger {
	background-color: var(--danger-color);
}

a.button {
	text-decoration: none;
	display: inline-block;
}

.icon-button {
	outline: 1px solid var(--dark-outline-color);
	width: 1.75rem;
	height: 1.75rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

a.vibrant-button {
	text-decoration: none;
	display: inline-block;
}

/* ICONS */

.lucide {
	vertical-align: text-bottom;
}

/* UTILS */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.opaque {
	opacity: 0.5;
}
