/* GLOBAL STUFF */

@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Nunito:wght@200..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: hsl(226, 34%, 13%);
	--nav-bg-color: hsl(226, 34%, 10%);
	--font-color: #fff;
	--secondary-font-color: #bbb;
	--error-color: #f00;
	--error-bg-color: #f001;
	--message-color: #0f0;
	--message-bg-color: #0f01;
	--outline-color: hsl(226, 20%, 60%);
	--dark-outline-color: hsl(226, 20%, 30%);
	--input-bg-color: hsl(226, 34%, 10%);
	--input-focus-color: hsl(226, 34%, 7%);
	--button-color: rgb(166, 60, 190);
	--button-danger-color: rgb(186, 52, 78);
	--heading-color: #bfdaf2;
	--loading-bar-color: #ffff00;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: 'Nunito', sans-serif;
	line-height: 1.5;
	padding-bottom: 2rem;
}

/* ELEMENTS */

a {
	color: inherit;
	text-underline-offset: 2px;
}

p {
	margin-block: 1rem;
}

header:has(h1) {
	margin-block: 1.5rem 1rem;
}

h1,
h2 {
	font-weight: 500;
	color: var(--heading-color);
	text-wrap: balance;
}

h2 {
	margin-block: 0.5rem;
}

/* INTERACTIVE ELEMENTS */

button,
input,
textarea {
	color: inherit;
	font: inherit;
	border: none;
	background: none;
}

button {
	transition: opacity 120ms;
}

button:not(:disabled) {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

:is(button, input, textarea, a):focus-visible {
	outline: 1px solid var(--outline-color) !important;
}

textarea {
	resize: vertical;
}

fieldset {
	border: none;
}

.label {
	display: block;
	margin-bottom: 0.1rem;
	font-size: 0.875rem;
	color: var(--secondary-font-color);
}

.label:has(+ :focus-visible) {
	color: var(--font-color);
}

.input {
	width: 100%;
	background-color: var(--input-bg-color);
	padding: 0.2rem 0.5rem;
	border-radius: 0.25rem;
	outline: 1px solid var(--dark-outline-color);

	&:focus-visible {
		background-color: var(--input-focus-color);
	}
}

.button {
	background-color: var(--button-color);
	padding: 0.25rem 1.25rem;
	border-radius: 100vw;
}

.button.danger {
	background-color: var(--button-danger-color);
}

a.button {
	text-decoration: none;
	display: inline-block;
}

.icon-button {
	outline: 1px solid var(--dark-outline-color);
	width: 1.75rem;
	height: 1.75rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

/* ICONS */

.lucide {
	vertical-align: text-bottom;
}

/* UTILS */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.opaque {
	opacity: 0.5;
}

.form-group {
	margin-bottom: 1rem;
}

.text {
	font-size: 1.125rem;
	font-family: 'Klee One', cursive;
}
